.contacto-seccion {
    padding: 4rem 2rem;
}

/* ESTILO PARA EL BLOQUE QUE CONTIENE EL MAPA Y LA INFO */

.contacto-contenedor {
    max-width: 1100px;  /* Limita el máximo del contenedor a 1100px para que no se estire demasiado en pantallas anchas */
    margin: 0 auto;  /* Centra el contenedor */
    display: flex;
    gap: 2rem;  /* Da un pequeño espacio de separación entre el mapa y los datos */
    align-items: flex-start;  /* ALinea el mapa y la información por su borde superior en vez de estirarlos o centrarlos, así ambos empiezan a la misma altura */
}

/* ESTILO PARA EL MAPA */

.contacto-mapa {
    flex: 1;  /* Ocupa el 50% del espacio disponible */
}

.img-mapa {
    width: 100%;
    height: auto;  /* Deja que la altura se ajuste automáticamente en proporción al ancho para evitar que se deforme la iamgen */
    border-radius: 12px; /* Redondea los bordes del mapa */
}

/* ESTILO PARA LA INFORMACION DE CONTACTO */

.contacto-info {
    flex: 1; /* Ocupa el otro 50% del espacio disponible */
}

.contacto-info h2 {
    font-size: 1.1rem;
    margin: 0 0 0.2rem 0;  /* Elimina margen arriba, derecha e izquierda y deja un margen de 0.2rem abajo */
}

.subtitulo {
    color: var(--text-muted);
    margin-bottom: 2rem;
    line-height: 1.6;
}

/* Estilo para cada fila de datos (Dirección, Teléfono, etc.) */

.dato-item {
    display: flex;
    align-items: flex-start;
    gap: 1rem; /* Separa el emoji del texto */
    margin-bottom: 1rem;  /* Margen por debajo */
}

/* Estilo para la caja del emoji */

.contacto-info .emoji {
    font-size: 1.7rem;  /* Hace el emoji un poco más grande */
    display: inline-flex;  /* Convierte el elemento en un contenedor flex "en línea", permitiendo centrar el emoji dentro de su propia caja sin que se comporte como un bloque completo */
    justify-content: center;  /* Centra horitzontalmente el emoji */
    width: 30px;  /* Fija un mismo ancho a todos los emojis */
    flex-shrink: 0;  /* Evita que se aplaste en pantallas pequeñas */
}

.texto p, .texto a {
    color: var(--text-muted);
    text-decoration: none;
    line-height: 1.5;
    transition: color 0.2s ease;
}

/* Estilo al pasar el ratón por encima del correo o teléfono */

.texto a:hover {
    color: var(--accent-hover);
    text-decoration: underline;  /* Añade un sobrayado */ 
}

/* Visualización en dispositivos móviles */

@media (max-width: 768px) {
    .contacto-contenedor {   
        flex-direction: column;
    }
}
